
  <!-- переменная хранить в себе форму   -->
<form #registerForm="ngForm" (ngSubmit)="register()" >
    <h2 class="text-center text-white">Sign Up</h2>
    <hr>


    <!-- [(ngModel)]=... - двухстороний связь при вводе model уже менять значения   -->
    <!-- required - валидация данных чтоб пользоваться должны создать директиву, в которой переопределить набор стантартных валидаторов  -->
    <!-- есть езще Reactive forms - где все действий проиходить в ts-->
    <div class="form-group">
        <input type="text" class="form-control" required name="username" [(ngModel)]="model.username" placeholder="Username">
    </div>


    <div class="from-group">
        <label for="favoriteValue">What is you fav values? </label>
        <select class="form-control" id="favoriteValue">
            <option *ngFor="let value of valuesFromHome" [value]="value">{{value.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" required name="password" [(ngModel)]="model.password" placeholder="Password">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" required name="gender" [(ngModel)]="model.gender" placeholder="Gender">
    </div>

    <div class="form-group text-center" >
        <button class="btn btn-success" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cansel</button>
    </div>



</form>

