<div class="container">

    <div class="container" style="padding: 20px;">
        <div class="row searchFilter" >
           <div class="col-sm-12" >
            <div class="input-group" >
             <input id="table_filter" type="text" class="form-control" aria-label="Text input with segmented button dropdown" placeholder="Что ищем?" >
             <div class="pl-2 input-group-btn" >
              <button id="searchBtn" type="button" class="btn btn-secondary btn-search" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" ><i class="fa fa-search fa-fw"></i>Найти</span></button>
             </div>
            </div>
           </div>
        </div>
      </div>

      <div class="container">

        <div class="pl-4 row">

          <div class="dropdown" dropdown>
            <label class="pr-2">Город:</label>
              <button class="btn btn-secondary dropdown-toggle" dropdownToggle>
                {{ cities_array[selected_city_index]}}
              </button>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" href="#"  onclick="return false;" (click)="selected_city(0)">{{ cities_array[0]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"  onclick="return false;" (click)="selected_city(1)">{{ cities_array[1]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="return false;" (click)="selected_city(2)">{{ cities_array[2]}}</a>
              </div>
            </div>

            <div class="pl-3 dropdown" dropdown>
                <label class="pr-2">Страна производителя:</label>
              <button class="btn btn-secondary dropdown-toggle" dropdownToggle>
                {{ country_array[selected_country_index]}}
              </button>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" href="#"  onclick="return false;" (click)="selected_county(0)">{{ country_array[0]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"  onclick="return false;" (click)="selected_county(1)">{{ country_array[1]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="return false;" (click)="selected_county(2)">{{ country_array[2]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="return false;" (click)="selected_county(3)">{{ country_array[3]}}</a>
              </div>
            </div>
        
            <div class="pl-3 dropdown" dropdown>
                <label class="pr-2">Тип:</label>
              <button class="btn btn-secondary dropdown-toggle" dropdownToggle>
                {{ country_array[selected_country_index]}}
              </button>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" href="#"  onclick="return false;" (click)="selected_county(0)">{{ country_array[0]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"  onclick="return false;" (click)="selected_county(1)">{{ country_array[1]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="return false;" (click)="selected_county(2)">{{ country_array[2]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="return false;" (click)="selected_county(3)">{{ country_array[3]}}</a>
              </div>
            </div>


            <div class="pl-3 dropdown" dropdown>
                <label class="pr-2">Объем двигеталя:</label>
              <button class="btn btn-secondary dropdown-toggle" dropdownToggle>
                {{ country_array[selected_country_index]}}
              </button>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" href="#"  onclick="return false;" (click)="selected_county(0)">{{ country_array[0]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"  onclick="return false;" (click)="selected_county(1)">{{ country_array[1]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="return false;" (click)="selected_county(2)">{{ country_array[2]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="return false;" (click)="selected_county(3)">{{ country_array[3]}}</a>
              </div>
            </div>

            <div class="pl-3 dropdown" dropdown>
                <label class="pr-2">Производитель:</label>
              <button class="btn btn-secondary dropdown-toggle" dropdownToggle>
                {{ country_array[selected_country_index]}}
              </button>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" href="#"  onclick="return false;" (click)="selected_county(0)">{{ country_array[0]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"  onclick="return false;" (click)="selected_county(1)">{{ country_array[1]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="return false;" (click)="selected_county(2)">{{ country_array[2]}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="return false;" (click)="selected_county(3)">{{ country_array[3]}}</a>
              </div>
            </div>
         
          </div>

      </div>

      


       
      

      
          <ul class="pt-4 pb-4 list-group list-group-horizontal justify-content-center">
            <li class="list-group-item" [ngClass]="{'active':ActiveItem(0)}" (click)="selectionManufacture(0)"><a  href="" onclick="return false"  id="custom_link">{{bike_man_array[0]}}</a></li> 
            <li class="list-group-item" [ngClass]="{'active':ActiveItem(1)}" (click)="selectionManufacture(1)"><a  href="" onclick="return false"   id="custom_link">{{bike_man_array[1]}}</a></li>
            <li class="list-group-item" [ngClass]="{'active':ActiveItem(2)}" (click)="selectionManufacture(2)"><a  href="" onclick="return false"  id="custom_link">{{bike_man_array[2]}}</a></li>
          </ul>

        
     


<div class="col-lg-offset">


    <div class="row">

      <div *ngFor="let item of BikeList" (click)="onSelected(item)" class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" id="cusom_bike_img" src="https://localhost:5001/{{item.title_Paht}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{item.title}}</a>    
            </h4>
            <h6>{{item.name_Model}}</h6>
            <h5>{{item.cost}}т</h5>
            <p class="card-text"></p>
          </div>
        </div>  
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.col-lg-offset -->

  </div>
  

  <!-- <app-footer></app-footer> -->