<div class="pt-5 container">

  <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="pb-4 col-md-12 d-flex justify-content-center">
                  <!-- <img class="card-img-top" id="cusom_bike_img" src="https://localhost:5001/{{User_Photo.path}}" alt=""> -->
                  <img class="card-img-top" id="cusom_bike_img" src="{{User_Photo.path}}" alt="">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <form>
                        <div class="form-group row">
                          <label for="username" class="col-4 col-form-label">Логин</label> 
                          <div  class="col-8">
                            <input #name id="username" name="username" 
                            class="form-control here" required="required" type="text" value="{{User_server.name}}">
                          </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">Пол</label> 
                            <div class="col-8">
                              <select #gender id="genders" name="genders" class="custom-select" [(ngModel)]="gender_selected">
                                <option *ngFor="let item of genders" [value]="item.Id">{{item.Name}}</option>
                              </select>
                            </div>
                          </div>

                        <div class="form-group row">
                          <label for="name" class="col-4 col-form-label">Возраст</label> 
                          <div class="col-8">
                            <input #age name="name"  class="form-control here" type="number" value="{{User_server.age}}" 
                             >
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="lastname" class="col-4 col-form-label">Номер телефона</label> 
                          <div class="col-8">
                            <input #number  id="lastname" name="lastname"  class="form-control here" type="text"  value="{{User_server.telephone_number}}">
                          </div>
                        </div>
                       
                        <div class="form-group row">
                          <div class="col d-flex justify-content-center">
                            <button name="submit" type="submit" class="btn btn-primary" (click)="submit(name.value,gender.value,age.value,number.value)">Сохранить</button>
                          </div>
                        </div>
                      </form>
              </div>
          </div>
          
      </div>
  </div>

</div>